html{
    min-height: 100%;
    background-image: url(/img/quora-bg.png);
    background-size: 1800px;
    background-position: top;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
}

body{
    margin: auto;
    width: 700px;
    margin-top: 40px;

}
.col-1-2{
    margin: 0;
    width: 50%;
    display: inline-table;
}



/*-==========Typography=====================*/
*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

h1{
    font-weight: 600;
    font-size: 40px;
    padding: 10px
}

h3{
    font-size: 20px;
}
p{
    font-size: 14px;
}



/*=============Style top-Headline=====================*/

.top-headline{
    text-align: center;
    margin-bottom: 20px
}
.top-headline h1{
    color: darkred;
    font-size: 60px;
}
/*=============STYLE LOGIN BOX==================*/
.login-box{
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

.login-box .col-1-2{
    box-sizing: border-box;
    padding: 20px;
}
.login-box .col-1-2:nth-child(1){
    border-right: 1px solid gray;
    box-sizing: border-box;
    padding: 20px;
}

.continue{
    color: white;
    text-decoration: none;
}
.continue a{
    text-decoration: none;
    color: white;
}
.continue li{
    display: block;
    margin-bottom: 20px;
        text-align: center;
    padding: 10px
        
}
ul.continue li:nth-child(1){
    background-color: red;
}

ul.continue li:nth-child(2){
    background-color: blue;
}

.input-full-width{
    width: 100%;
    border-radius: 5px;
}
input{
    margin-bottom: 5px;
}
.input-bg{
    color:;
    background-color:whitesmoke;
    line-height: 24px;
}



/*--============FOOTER STYLES============*/




footer{
    text-align: center;
     margin-top: 10px;
}
footer a{
    color: darkslategray;
    text-decoration: none;
}
