html{
    min-height: 100%;
    background-image: url(/img/quora-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    margin: auto;
    width: 600px;
    padding-top: 10%;

}




.col-1-2{
    margin: 0;
    width: 50%;
    display: inline-table;
}

/*=============STYLE LOGIN BOX==================*/
.login-box{
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-box .col-1-2{
    box-sizing: border-box;
    padding: 20px;
}
.login-box .col-1-2:nth-child(1){
    border-right: 1px solid gray;
    box-sizing: border-box;
    padding: 20px;
}

.continue{
    color: white;
    text-decoration: none;
}
.continue a{
    text-decoration: none;
    color: white;
}
.continue li{
    display: block;
    margin-bottom: 20px;
        text-align: center;
    padding: 10px
        
}
ul.continue li:nth-child(1){
    background-color: red;
}

ul.continue li:nth-child(2){
    background-color: blue;
}






/*--============FOOTER STYLES============*/




footer{
    text-align: center;
}
